.App {
  text-align: center;
  padding: 51px;
}

.Container {
  /* background-color: #70bbdb78; */
  /* border: #052939 solid 1px; */
  /* padding: 33px 33px; */
  border-radius: 25px;
}
.modal-body {
  background-color: #168add8a;
  padding: 0;
}

.Container-bigger {
  background-color: #70bbdb78;
  border: #052939 solid 1px;
  padding: 20px 20px;
  border-radius: 25px;
}

.SubmitButton {
  background-image: linear-gradient(
    280deg,
    #c6f2ff 0,
    #93d8fc 8%,
    #53bcf2 44%,
    #00a0e8 75%,
    #0086df 100%
  );
  padding: 13px 20px;
  border-radius: 30px;
  font-size: medium;
  border: solid 1px;
}

.btn-edit {
  margin-right: 1px;
  background-image: url(../img/edit.svg);
  background-color: #0092e3;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  width: 45px;
  height: 25px;
}

.button-delete {
  margin-left: 1px;
  background-image: url(../img/trash.svg);
  background-color: red;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 6px;
  width: 45px;
  height: 25px;
}

.align {
  text-align: center;
}
